h1{
    text-align: center;
    margin: 0 auto;
}

span {
    font-size: smaller;
    color: rgb(12, 109, 109); 
}

button {
    width: 100px;
    height: 40px;
    border: none;
    text-align: 50px;
    background-color: rgb(210, 247, 234);


}

form {

    width: 500px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;


}

textarea {
    height: 140px;
}

svg {
    width: 100%;
    height: auto;
    position: fixed;
    top: 1;
    left: 0;
    z-index: -1;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
 



